.archive  {
.page-header h1{   
    text-transform: uppercase;
    padding-top: 50px;

}

.product-type-name {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.inhabitent-product-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 22.5% 22.5% 22.5% 22.5%;

    

    article{
        img {
        height: 220px;
        width: 240px;
        }
    }
}
}

