/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

a {
	text-decoration: none
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.about-main{
	text-align:center; 
	h2{
		color:#2f1339;
	}
	p{
		margin-left:10%; //TODO adjust margins
		margin-right:10%;
		text-align: left;
	}
}

.content-section {
	width: 1120px;
	margin: auto;
}

.home {
	.content-section {
		width: 100%
	}
	.home-container {
		width: 1120px;
		margin: auto
	}
}

.page-template-about {
	.content-section {
		width: 100%;
	}
	p, h2 {
		width: 1120px;
		margin: auto
	}
	.hero-image-header {
		height: 80vh
	}
}

.page-id-28, .search, .blog, .single, .single-product
{.content-section {
	display: grid;
	grid-template-columns: 1fr .5fr;
}}

.single-product {
.type-product {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 1120px;
	margin: auto;
	margin-top: 6rem;
	margin-bottom: 6rem;
}
}

.single {

.entry-content, .entry-header {
	padding: 1rem;
	margin: 0
}

.entry-title {
	margin: 0
}
}